:host{
    position: relative;
    .text-field{
        position: relative;
        background: white;
        border: 2px solid #eeeeee;
        border-radius: 25px;
        padding: 10px 15px 10px 15px;
        width: calc(~ '100% - 20px');
        height: 38px;
        line-height: 38px;
        box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.75);
        font-size: 32px;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
        color: #555555;
        outline: none;
    }

    .button-send{
        position: absolute;
        top: 50%;
        width: 50px;
        height: 50px;
        transform: translateX(-50%);
        z-index: 999;
    }
}