.button{
    padding: 7px 13px 7px 13px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    background: whitesmoke;
    outline: none;
    box-shadow: 0px 0px 2px 0px rgba(85,85,85,1);
    overflow: hidden;
    user-select: none;
    font-family: 'Work Sans', sans-serif;
    opacity: 0.5;

    &.active{
        opacity: 1;                    
    }

    &.is.large{
        font-size: 24px;
        padding: 10px 15px 10px 15px;
    }

    img{
        width: 24px;
    }
}

.button-icon{
    &.active{
        opacity: 1;                    
    }

    &:hover{
        opacity: 1;
    }
    opacity: 0.5;
    border-radius: 10px;
    display: inline-block;
    margin: 0 5px 0 5px;
    width: 44px;
    height: 44px;
    background: whitesmoke;
    position: relative;
    border: 2px solid #dddddd;
    cursor: pointer;
    transition: all 250ms linear;
    box-shadow: 0px 0px 2px 0px rgba(85,85,85,1);
    
    ng4-fa, i, img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 24px;
    }

    img{
        width: 32px;
    }

    &.small{
        width: 32px;
        height: 32px;

        img{
            width: 24px;
        }

        ng4-fa, i{
            font-size: 18px;
        }
    }
}
