@primary: rgba(2, 164, 81, 1);
@secondary: #A0AD58;
@lightGreen: #D5F920;

.button, .button-icon{
    &.color{
        &.primary{
            color: white !important;
            background: @primary;
            border: 2px solid #eeeeee;
        }

        &.secondary{
            color: white !important;
            background: @secondary;
            border: 2px solid #eeeeee;
        }

        &.light-green{
            color: @primary !important;
            background: @lightGreen;
            border: 2px solid @primary; 
        }
    }
}