.md-iphone-5 .md-body {
  width: 100%;
  height: 100%;
  border-radius: 3.75em;
  position: relative;
}

.md-iphone-5 .md-screen {
  position: relative;
  margin: 0 auto;
  background-color: #161616;
  border-radius: 0.25em;
  overflow: hidden;
  box-shadow: 0 0 0px 3px #161616;
}
.md-iphone-5 .md-screen img {
  width: 100%;
}

.md-iphone-5 .md-home-button {
  display: block;
  width: 3.625em;
  height: 3.625em;
  margin: 0 auto;
  position: relative;
  border-radius: 100%;
  border: none;
  cursor: default;
  font-size: 100%;
}
.md-iphone-5 .md-home-button:after {
  content: "";
  display: block;
  width: 1.125em;
  height: 1.125em;
  margin: 0 auto;
  position: relative;
  border-style: solid;
  border-width: 0.125em;
  border-radius: 0.25em;
}

.md-iphone-5 .md-front-camera {
  width: 0.875em;
  height: 0.875em;
  margin: 0 auto;
  position: relative;
  border-radius: 100%;
}
.md-iphone-5 .md-front-camera:after {
  content: "";
  display: block;
  width: 0.375em;
  height: 0.375em;
  position: relative;
  top: 0.25em;
  left: 0.25em;
  background-color: #8c8091;
  border-radius: 100%;
}

.md-iphone-5.md-glare:before {
  content: "";
  display: block;
  width: 50%;
  height: 83%;
  position: absolute;
  top: 0.625em;
  right: 0.625em;
  border-radius: 0 3.125em 0 0;
  z-index: 1;
}

.md-iphone-5:after {
  content: "";
  display: block;
  width: 3.3125em;
  height: 0.1875em;
  position: absolute;
  right: 3.625em;
  top: -0.1875em;
  border-radius: 0.125em 0.125em 0 0;
}

.md-iphone-5 {
  width: 22.8125em;
  height: 49em;
  position: relative;
}
.md-iphone-5 .md-front-camera {
  top: 1.25em;
}
.md-iphone-5 .md-top-speaker {
  width: 3.75em;
  height: 0.875em;
  margin: 0 auto;
  position: relative;
  top: 2.25em;
  border-radius: 3.125em;
}
.md-iphone-5 .md-top-speaker:after {
  content: "";
  display: block;
  width: 3.25em;
  height: 0.375em;
  margin: 0 auto;
  position: relative;
  top: 0.25em;
  background-color: #4b414a;
  border-radius: 3.125em;
}
.md-iphone-5 .md-screen {
  width: 20em;
  height: 35.5em;
  top: 3.75em;
}
.md-iphone-5 .md-home-button {
  bottom: -5.9375em;
}
.md-iphone-5 .md-buttons {
  width: 0.1875em;
  height: 1.875em;
  position: absolute;
  left: -0.5em;
  top: 5.9375em;
  border-radius: 0.125em 0 0 0.125em;
}
.md-iphone-5 .md-buttons:after, .md-iphone-5 .md-buttons:before {
  content: "";
  display: block;
  position: absolute;
  width: 0.1875em;
  height: 1.5625em;
  border-radius: 0.125em 0 0 0.125em;
}
.md-iphone-5 .md-buttons:after {
  top: 3.125em;
}
.md-iphone-5 .md-buttons:before {
  top: 6.25em;
}
.md-iphone-5.md-glare:before {
  background: -webkit-linear-gradient(16deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
  background: -moz-linear-gradient(16deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
  background: -o-linear-gradient(16deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
  background: linear-gradient(74deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
}
.md-iphone-5.md-landscape {
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
.md-iphone-5.md-landscape.md-glare:before {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  left: 0.625em;
  top: 0.625em;
}

.md-white-device .md-front-camera, .md-white-device .md-top-speaker, .md-white-device .md-home-button {
  background: -webkit-linear-gradient(#d0d0c5, #eeeeea);
  background: -moz-linear-gradient(#d0d0c5, #eeeeea);
  background: -o-linear-gradient(#d0d0c5, #eeeeea);
  background: linear-gradient(#d0d0c5, #eeeeea);
}

.md-black-device .md-front-camera, .md-black-device .md-top-speaker, .md-black-device .md-home-button {
  background: -webkit-linear-gradient(#141917, #202623);
  background: -moz-linear-gradient(#141917, #202623);
  background: -o-linear-gradient(#141917, #202623);
  background: linear-gradient(#141917, #202623);
}

.md-white-device.md-landscape .md-home-button, .md-white-device.md-landscape .md-front-camera, .md-white-device.md-landscape .md-top-speaker {
  background: -webkit-linear-gradient(left, #d0d0c5, #eeeeea);
  background: -moz-linear-gradient(left, #d0d0c5, #eeeeea);
  background: -o-linear-gradient(left, #d0d0c5, #eeeeea);
  background: linear-gradient(to right, #d0d0c5, #eeeeea);
}

.md-black-device.md-landscape .md-home-button, .md-black-device.md-landscape .md-front-camera, .md-black-device.md-landscape .md-top-speaker {
  background: -webkit-linear-gradient(left, #141917, #202623);
  background: -moz-linear-gradient(left, #141917, #202623);
  background: -o-linear-gradient(left, #141917, #202623);
  background: linear-gradient(to right, #141917, #202623);
}

.md-white-device .md-body {
  background-color: #ebebe4;
  border-color: #f1f2eb;
}
.md-white-device .md-buttons {
  background-color: #ebebe4;
}
.md-white-device .md-buttons:after, .md-white-device .md-buttons:before {
  background-color: #ebebe4;
}
.md-white-device .md-front-camera:after {
  background-color: #8c8091;
}
.md-white-device .md-top-speaker:after {
  background-color: #4b414a;
}
.md-white-device .md-home-button:after {
  border-color: #eff1e6;
}
.md-white-device:after {
  background: #ebebe4;
}

.md-black-device .md-body {
  background-color: #1b211e;
  border-color: #282e2b;
}
.md-black-device .md-buttons {
  background-color: #1b211e;
}
.md-black-device .md-buttons:after, .md-black-device .md-buttons:before {
  background-color: #1b211e;
}
.md-black-device .md-front-camera:after {
  background-color: #2c292f;
}
.md-black-device .md-top-speaker:after {
  background-color: #191616;
}
.md-black-device .md-home-button:after {
  border-color: #444a45;
}
.md-black-device:after {
  background: #1b211e;
}
