@import 'less/button.less';
@import 'less/ripple.less';
@import 'less/color.less';
@import 'less/iphone.less';

@import url('https://fonts.googleapis.com/css?family=Raleway:400,800');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600');

html, body{
    height: 100%;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    color: #333333;
    background: url(/assets/images/bg.png);
    font-smooth: always;

    h*{
        font-weight: 600;
        color: #015370;
    }

    hr{
        border-top: 1px dotted #8c8b8b;
        margin: 10px 0 10px 0;
    }

    .background-logs{
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba(2, 164, 81, 0.7);
        z-index: 1000;

        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: block;
            background: rgba(2, 164, 81, 1); 
            filter: blur(200px);
        }
        .log{
            position: relative;
            max-width: 500px;
            margin: 40px auto 0 auto;
            color: white;
            font-size: 22px;
            line-height: 20px;
        }
        
        #logIcon{
            position: fixed;
            top: 20px;
            left: 20px;
            color: white;
            font-size: 72px;
            text-shadow: 0px 0px 1px #cccccc;
        }

        #appIcon{
            position: fixed;
            bottom: 10px;
            right: 10px;
            width: 48px;
            height: 48px;
        }
    }

    input[type="text"] {
        display: block;
        margin: 0;
        width: 100%;
        font-family: 'Work Sans', sans-serif;        
        font-size: 18px;
        appearance: none;
        box-shadow: none;
        border-radius: none;
    }
    input[type="text"]:focus {
        outline: none;
    }

    .input-grow input[type="text"] {
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    }
    .input-grow input[type="text"]:focus,
    .input-grow input[type="text"].focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
    }
    .input-underline input[type="text"] {
        padding: 10px;
        border: none;
        border-bottom: solid 1px #cccccc;
        transition: border 0.3s;
    }
    .input-underline input[type="text"]:focus,
    .input-underline input[type="text"].focus {
        border-bottom: solid 1px rgba(2, 164, 81, 1);
    }
}

.md-iphone-5 {
    width: 21em;
    height: 36.5em;
    position: relative;
    margin: auto;
}

.md-iphone-5:after {
    content: "";
    display: block;
    width: 3.3125em;
    height: 0.1875em;
    position: absolute;
    right: 3.625em;
    top: -0.1875em;
    border-radius: 0.50em 0.50em 0 0;
}

.md-iphone-5 .md-body {
    width: 100%;
    height: 100%;
    border-radius: 1em;
    border-style: solid;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 5px 0px rgba(102,102,102,1);
}

.md-iphone-5 .md-screen {
    position: relative;
    margin: 0 auto;
    background-color: white;
    border-radius: 0.25em;
    overflow: auto;
    width: 20em;
    height: 35.5em;
    top: .5em;

    &::-webkit-scrollbar {
        width: 1px !important;
        height: 1px !important;
    }
}

::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
}

::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.08);
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/MaterialIcons-Regular.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

input[type=file]{
    display: none;
}

.swiper-slide {
    visibility: hidden;
}
    
.swiper-slide.swiper-slide-active {
    visibility: visible;
}

.pure-g{
    height: 100%;
}