:host {
    height: 100%;
    display: block;
    background: url(/assets/images/bg.png);
    overflow: hidden;

    .opaque{
        filter: grayscale(100%);
    }

    recycler{
        height: calc(~'100% - 70px');
        margin-top: 70px;
    }

    .has-sidebar-left{
        margin-left: 405px;
        height: 100%;
        overflow-y: auto;
        position: relative;
        box-shadow: inset 0px 0px 5px 0px rgba(102,102,102,1);
    }

    .has-sidebar-right{
        margin-right: 405px;
        box-shadow: inset 0px 0px 5px 0px rgba(102,102,102,1);
    }

    header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 50px;
        background: white;
        padding: 10px;
        z-index: 999;

        #btnLogout{
            float: right;
            margin-top: -20px;
        }

        .buttons{
            max-width: 800px;
            width: 100%;
            height: 50px;
            margin: auto;
            position: relative;
            top: 50%;
            margin-top: -25px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .container{
        margin-top: 70px;
        height: calc(~'100% - 70px');

        .content{
            height: 100%;
            position: relative;

            &.content-users{
                box-shadow: inset 0px 0px 5px 0px rgba(102,102,102,1);
            }
            
            .sidebar-left{
                left: 0;                
            }

            .sidebar-right{
                right: 0;
                .user-history{
                    z-index: 999;
                    position:absolute;
                    overflow-y: auto;
                    top: 50px;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    padding: 10px;
                    background: white;
                    box-shadow: 0px 5px 5px 0px rgba(153,153,153,1);
                    font-size: 14px;
        
                    .item{
                        padding: 5px;
                        img{
                            width: 24px;
                            float: left;
                        }
                    }
                    
                    #closeHistory{
                        position: absolute;
                        right: 10px;
                        top: 10px;
                        cursor: pointer;
                        font-size: 32px;
                    }
                }
            }

            .sidebar-left, .sidebar-right{
                position: absolute;
                top: 0;
                bottom: 0;
                padding: 10px 0 10px 10px;
                width: 395px;
                background: white;                
                overflow-y: auto;
                overflow-x: hidden;

                .contacts{
                    position:absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    z-index: 999;
                    background: white;
                }
    
                .header{
    
                    position: absolute;
                    height: 70px;
                    padding: 5px;
                    top: 0;
                    right: 0;
                    left: 0;
    
                    #searchMessages, #searchContacts, #searchChats{
                        position: absolute;
                        left: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 70px;
                    }
                    
                    #btnAddMessage, #btnShowContacts, #btnHideContacts{
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
    
                }
    
                .list{
                    margin-top: 75px;
                    overflow-y: auto;
                    height: calc(~'100% - 130px');
                    background: white;
                    padding: 5px;
                    padding-bottom: 50px;
                    .item{
    
                        badge{
                            position: absolute;
                            left: 10px;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                        &.selected{
                            transition: all 700ms linear;
                            background: #dddddd;
                        }
    
                        transition: all 700ms linear;                            
                        min-height: 24px;
                        padding: 15px 0 15px 0;
                        border-bottom: 1px #dddddd solid;
                        position: relative;
                        text-align: right;
                        cursor: pointer;
    
                        .icon{
                            width: 44px;
                            height: 44px;
                            position: absolute;
                            right: 10px;
                            top: 50%;
                            transform: translateY(-50%);
                            border-radius: 50%;
                            background-position: center center;
                            background-size: cover;
                        }
    
                        .title{
                            font-weight: normal;
                            text-align: left;
                            margin: 5px;
                            .subtitle{
                                font-size: 13px;
                                font-weight: normal;
                                display: block;
                            }
                        }
    
                        .date{
                            font-size: 11px;
                            font-weight: normal;
                            color: #999999;
                            text-transform: uppercase;
                            margin-right: 5px;
                        }
    
                        .name{
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 24px;
                            margin-right: 60px;
                            text-transform: capitalize;

                            &.left{
                                text-align: left;
                                margin-right: 0;
                                position: relative;

                                .tools{
                                    position: absolute;
                                    right: 0;
                                    width: 32px;
                                    top: 0;
                                    bottom: 0;
                                    filter: grayscale(100%);                                    
                                    img{
                                        width: 100%;
                                        margin-bottom: 10px;
                                    }
                                }

                                .relations, .latestStatus{
                                    margin-left: 10px;
                                    h5{ margin: 0; }
                                    .name{
                                        font-weight: normal;
                                        margin-left: 10px;
                                        font-size: 12px;
                                        color: #666666;
                                    }
                                }
                            }
                            
                            .typing{
                                display: block;
                                font-size: 12px;
                                font-weight: normal;
                                color: #039be5;
                                position: absolute;
                                top: 30px;
                                right: 70px;
                            }

                            .online{
                                position: absolute;
                                right: 5px;
                                bottom: 0;
                                transform: translateY(-50%);
                                background: #00AC56;
                                box-shadow: 0px 0px 3px 0px #006F60;
                                width: 15px;
                                height: 15px;
                                border-radius: 50%;
                            }
                        }
    
                        .qtdUsers{
                            font-size: 12px;
                            text-transform: uppercase;
                            margin-right: 60px;
                        }
                    }
                }
            }
    
            #chatContainer{
                height: 100%;
            }
    
            #communicationPreview{
                .content{
                    padding: 10px;
                    overflow-y: auto;
                    &.preview{
                        
                        padding: 15px;
                        background: white;
                        border: 1px solid #dddddd;
                        border-radius: 5px;
                        max-width: 350px;
                        width: 100%;
                        text-shadow: none;
                        margin: auto;
                        margin-bottom: 40px;
                        margin-top: 40px;
                        transform: translateX(0);
                        img{
                            width: 100%;
                        }
    
                        .title, .subtitle{
                            margin-top: 5px;
                            margin-bottom: 5px;
                            text-align: center;
                        }
    
                        .subtitle{
                            font-size: 14px;
                        }
                    }
                }
            }

        }
    }
}