<header>
    <div class="buttons">
        <button class="button color primary ripple animated slideInDown" 
            (click)="setModule(module)" [style.marginRight.px]="10"
            [ngClass]="{'active': moduleSelected?.$key === module.$key}" 
            *ngFor="let module of modules | async;">
            <ng4-fa name="{{module.iconName}}"></ng4-fa>
            {{module.name}}
    </button>
    </div>
    <div class="button-icon small color primary ripple active" 
        id="btnLogout" (click)="logout()">
        <ng4-fa name="sign-out"></ng4-fa>
    </div>
</header>
<div class="container" [ngClass]="{'opaque': waiting}" *ngIf="moduleSelected" [ngSwitch]="moduleSelected.$key">
    <div class="content animated fadeIn" *ngSwitchCase="'communication'">
        <app-communication></app-communication>
    </div>
    <div class="content animated fadeIn" *ngSwitchCase="'chat'">
        <div class="sidebar-left">
            <div class="header">
                <div class="input-underline" id="searchChats">
                    <input type="text" placeholder="Pesquisar Conversas..." 
                    [value]="chatSearch" (keyup)="searchChat($event)"/>
                </div>
                <div class="button-icon small color primary ripple active" 
                    id="btnShowContacts" (click)="showContacts = true">
                    <ng4-fa name="address-book"></ng4-fa>
                </div>
            </div>
            <virtual-scroll class="list" *ngIf="ds.chats.length > 0"
                    [items]="ds.chats | search: chatSearch" [childHeight]="45"
                    (update)="chatItems = $event"
                 #chatList>
                <div class="item ripple animated fadeIn"
                    (click)="selectChat(chat)"
                    [ngClass]="{'selected': chatSelected?.$key === chat.$key }"
                    *ngFor="let chat of chatItems">
                    <badge *ngIf="chat.notRead > 0" [counter]="chat.notRead"></badge>
                    <div class="icon animated fadeIn" [defaultImage]="avatarDefault" 
                    avatar [user]="chat.profile" [key]="chat.$key"
                        [lazyLoad]="chat.profile.avatarUrl || avatarDefault" [offset]="0"></div>
                    <div class="name">
                        <span class="online animated zoomIn" *ngIf="chat.presence && chat.presence.connected"></span>
                        {{chat.profile.displayName}}
                        <small class="typing" *ngIf="chat.writing">está escrevendo...</small>
                    </div>
                    <div style="clear: both"></div>
                </div>
            </virtual-scroll>
            <div *ngIf="showContacts" class="contacts animated zoomIn">
                <div class="header">
                    <div class="input-underline" id="searchContacts">
                        <input type="text" placeholder="Pesquisar contatos..."
                        [value]="contactSearch"
                        (keyup)="searchContact($event)"/>
                    </div>
                    <div class="button-icon small active color primary ripple" 
                        id="btnHideContacts" (click)="showContacts = false">
                        <ng4-fa name="close"></ng4-fa>
                    </div>
                </div>
                <virtual-scroll class="list"  
                    *ngIf="ds.contacts.length > 0"
                    [items]="ds.contacts | search: contactSearch" [childHeight]="45"
                    (update)="contactItems = $event">
                    <div class="item ripple" 
                        (click)="newChat(contact)"
                        *ngFor="let contact of contactItems">
                        <div class="icon" [defaultImage]="avatarDefault" avatar [user]="contact"
                            [lazyLoad]="contact.avatarUrl" [offset]="0"></div>
                        <div class="name">{{contact.displayName}}</div>
                        <div style="clear: both"></div>
                    </div>
                </virtual-scroll>
            </div>  
        </div>
        <div class="has-sidebar-left" id="chatContainer">
            <app-chat class="animated fadeIn" 
            [chatSelected]="chatSelected" ></app-chat>                         
        </div>
    </div>
    <div class="content content-users animated fadeIn" *ngSwitchCase="'users'">
        <app-users></app-users>
    </div>    
</div>