:host {
    height: 100%;
    display: block;
            
    .sidebar-left{
        left: 0;                
    }

    .has-sidebar-left{
        margin-left: 405px;
        height: 100%;
        overflow-y: auto;
        position: relative;
        box-shadow: inset 0px 0px 5px 0px rgba(102,102,102,1);
        @media screen and (max-width: 1024px){
            margin-left: 310px;
        }
    }

    .has-sidebar-right{
        transition: all 300ms linear;
        transition-delay: 300ms;
        margin-right: 405px;
        box-shadow: inset 0px 0px 5px 0px rgba(102,102,102,1);
        @media screen and (max-width: 1024px){
            margin-right: 310px;
        }
    }

    #device{
        transform: scale(0.85);
        margin-top: -20px;
    }

    .sidebar-right{
        right: 0;
        #waitIcon{
            position: fixed;
            right: 10px;
            top: 10px;
            font-size: 48px;
            color: #999999;
            text-shadow: 2px black;
        }

        #waitMessage{
            max-width: 350px;
            padding: 10px;
            border: 1px #7ABBAB solid;
            border-radius: 5px;
            position: absolute;
            color: #545454;
            font-weight: bold;
            margin: 70px auto auto auto;
            background: #9AC6BC;
        }
        .user-history{
            z-index: 999;
            position:absolute;
            overflow-y: auto;
            top: 50px;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 10px;
            background: white;
            box-shadow: 0px 5px 5px 0px rgba(153,153,153,1);
            font-size: 14px;

            .item{
                padding: 5px;
                img{
                    width: 24px;
                    float: left;
                }
            }
            
            #closeHistory{
                position: absolute;
                right: 10px;
                top: 10px;
                cursor: pointer;
                font-size: 32px;
            }
        }
    }

    .footer{
        position: absolute;
        height: 70px;
        padding: 5px;
        bottom: 0;
        right: 0;
        left: 0;
        box-shadow: 0px 0px 5px 0px rgba(102,102,102,1);
        background: white;
    }

    .sidebar-left, .sidebar-right{
        position: absolute;
        top: 0;
        bottom: 0;
        padding: 10px 0 10px 10px;
        width: 395px;
        background: white;                
        overflow-y: auto;
        overflow-x: hidden;

        @media screen and (max-width: 1024px){
            width: 300px;
        }

        .header{

            position: absolute;
            height: 70px;
            padding: 5px;
            top: 0;
            right: 0;
            left: 0;

            #searchMessages, #searchContacts, #searchChats{
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
                right: 70px;
            }
            
            #btnAddMessage, #btnShowContacts, #btnHideContacts{
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }

        }

        .list{
            margin-top: 75px;
            overflow-y: auto;
            height: calc(~'100% - 130px');
            background: white;
            padding: 5px;
            padding-bottom: 50px;
            .item{

                &.selected{
                    transition: all 700ms linear;
                    background: #dddddd;
                    border: 1px solid #999999;
                }

                transition: all 700ms linear;                            
                min-height: 24px;
                padding: 15px 0 15px 0;
                border-bottom: 1px #dddddd solid;
                position: relative;
                text-align: right;
                cursor: pointer;

                .icon{
                    width: 44px;
                    height: 44px;
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    border-radius: 50%;
                    background-position: center center;
                    background-size: cover;
                }

                .title{
                    font-weight: bold;
                    text-align: left;
                    margin: 5px;
                    .subtitle{
                        font-size: 15px;
                        font-weight: normal;
                        display: block;
                    }
                }

                .protocol{
                    font-size: 11px;
                    margin-top: 20px;
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                }

                .date{
                    font-size: 11px;
                    font-weight: bold;
                    color: #999999;
                    margin-right: 5px;
                    margin-bottom: 20px;
                }

                .name{
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 24px;
                    margin-right: 60px;

                    &.left{
                        text-align: left;
                        margin-right: 0;
                        position: relative;

                        .tools{
                            position: absolute;
                            right: 10px;
                            width: 32px;
                            top: 0;
                            bottom: 0;
                            filter: grayscale(100%);                                    
                            img{
                                width: 100%;
                                margin-bottom: 10px;
                            }
                        }

                        .relations, .latestStatus{
                            margin-left: 10px;
                            h5{ margin: 0; }
                            .name{
                                font-weight: normal;
                                margin-left: 10px;
                                font-size: 12px;
                                color: #666666;
                            }
                        }
                    }
                }

                .qtdUsers{
                    font-size: 12px;
                    margin-right: 60px;
                }
            }
        }
    }

    #communicationPreview{
        .content{
            padding: 10px;
            overflow: auto;
            &.preview{
                
                padding: 15px;
                background: white;
                border: 1px solid #dddddd;
                text-shadow: none;
                max-height: 100%;
                max-width: 100%;
                width: auto;
                height: auto;
                -o-object-fit: contain;
                object-fit: contain;
                margin: auto;
                display: block;
                transform: translateX(0);
                img{
                    width: 100%;
                }

                .title, .subtitle{
                    margin-top: 5px;
                    margin-bottom: 5px;
                    text-align: center;
                }

                .subtitle{
                    font-size: 14px;
                }
            }
        }
    }

    #groupsList{
        width: 33.33%;
        height: calc(~'100% - 44px') !important;
        .header{
            background: white;
            padding: 5px;
            #searchGroups{
                width: calc(~'100% - 30px');
            }
        }
    }

    #usersList{
        width: 33.33%;
        left: 33.33%;
        .header{
            background: white;
            padding: 5px;
            #searchUsers{
                width: calc(~'100% - 30px');
            }
        }
        height: calc(~'100% - 44px') !important;
    }

    #userSelected{
        width: 33.33%;
        left: 66.66%;
        height: 100%;
    }

    #groupsList, #usersList, #userSelected{

        position:absolute;
        margin: 0;

        .container-items{
            background: white;
            height: 100%;
            overflow: auto;
            
            .item{
                
                &.selected{
                    transition: background 300ms linear;
                    background: #dddddd;
                }

                padding: 15px 5px 15px 5px;
                border-bottom: 1px #dddddd solid;
                position: relative;
                text-align: right;
                cursor: pointer;

                .icon-close{
                    font-size: 32px;
                    position: absolute;
                    left: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                }

                .check-user{
                    top: 50%;
                    transform: translateY(-50%);
                }

                .icon{
                    width: 54px;
                    height: 54px;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    img{
                        width: 34px;
                        height: 34px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin-left: -17px;
                        margin-top: -17px;
                    }
                }

                .name{
                    font-weight: bold;
                    font-size: 17px;
                    line-height: 24px;
                    margin-right: 60px;
                }

                .relation-name{
                    font-weight: normal;
                    font-size: 12px;
                }

                .qtdUsers{
                    font-size: 12px;
                    margin-right: 60px;
                }
            }
        }
    }
}