<div class="sidebar-left">
  <div class="header">
    <div class="input-underline" id="searchMessages">
      <input type="text" placeholder="Pesquisar comunicados..." (keyup)="searchCommunication($event)" />
    </div>
    <div class="button-icon small color primary ripple active" id="btnAddMessage" [routerLink]="['/messageForm', 'communication']">
      <ng4-fa name="plus"></ng4-fa>
    </div>
  </div>
  <virtual-scroll class="list" *ngIf="ds.communications.length > 0" [items]="ds.communications | search: communicationSearch"
    [childHeight]="80" (update)="communicationItems = $event">
    <div class="item ripple animated fadeIn" [ngClass]="{'selected': communicationSelected?.$key === communication.$key }" (click)="selectCommunication(communication)"
      #loader *ngFor="let communication of communicationItems ">
      <h3 class="title">
        {{communication.content.body.title}}
        <small class="subtitle">
          {{communication.content.body.subtitle}}
        </small>
      </h3>
      <small class="date">{{communication.content.header.date | amLocale:'pt-BR' | amDateFormat:'[Em] DD/MM/YY HH:mm:ss'}}</small>
    </div>
  </virtual-scroll>
</div>
<div class="has-sidebar-left" [ngClass]="{'has-sidebar-right': communicationSelected}">
  <div class="footer animated zoomIn" *ngIf="receivers">
    <div style="width: 50%; float: left; text-align: center; color: #015370;">
      <h2>Enviados: {{receivers.length}}</h2>
    </div>
    <div style="width: 50%; float: right; text-align: center; color: #015370;">
      <h2>Lidos: {{countRead()}}</h2>
    </div>
  </div>
  <div id="device" class="md-iphone-5 md-white-device">
    <div class="md-body">
      <div class="md-screen">
        <div id="communicationPreview" *ngIf="communicationSelected">
          <div class="content preview">
            <h1 class="title">{{communicationSelected.content.body.title}}</h1>
            <p class="subtitle">{{communicationSelected.content.body.subtitle}}</p>
            <div [ngSwitch]="communicationSelected.content.type">
              <div *ngSwitchCase="'text'" [innerHTML]="communicationSelected.content.body.content | safeHtml"></div>
              <div *ngSwitchCase="'image'" class="animated slideInDown">
                <img [src]="communicationSelected.imageURL" />
                <div [innerHTML]="communicationSelected.content.body.imageDescription | safeHtml"></div>
                <div style="clear: both"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sidebar-right animated slideInRight" *ngIf="communicationSelected">
  <div class="user-history animated zoomIn" *ngIf="__showHistory">
    <ng4-fa name="times-circle" id="closeHistory" (click)="__showHistory = false"></ng4-fa>
    <h3>{{receiverSelected.name}}</h3>
    <div class="item" *ngFor="let historyId of receiverSelected.history | keys">
      <img src="/assets/images/info2.svg" *ngIf="receiverSelected.history[historyId].type === 'info'" />
      <img src="/assets/images/warning-outline.svg" *ngIf="receiverSelected.history[historyId].type === 'warning'" />
      <img src="/assets/images/cancel-circle.svg" *ngIf="receiverSelected.history[historyId].type === 'error'" />
      <div [style.marginLeft]="'50px'" [style.marginBottom]="'10px'">
        <small>
          <b>{{receiverSelected.history[historyId].eventDate | amLocale:'pt-BR' | amDateFormat:'[Em] DD/MM/YY HH:mm:ss'}}</b>
        </small>
        <div>{{receiverSelected.history[historyId].detail}}</div>
      </div>
    </div>
  </div>
  <div class="header">
    <div class="input-underline">
      <input type="text" placeholder="Pesquisar destinatários..." (keyup)="searchReceivers($event)" />
    </div>
  </div>
  <fa name="cog" id="waitIcon" *ngIf="!receivers" animation="spin" class="animated"></fa>
  <div id="waitMessage" class="animated" [ngClass]="{'zoomIn': !receivers, 'zoomOut': receivers}">
    Estamos atualizando as informações, aguarde...
  </div>
  <virtual-scroll *ngIf="receivers" class="list" [items]="receivers" [childHeight]="120" (update)="receiverItems = $event">
    <div class="item animated fadeIn" *ngFor="let receiverId of receiverItems">
      <div class="name left">
        <div class="tools">
          <img class="ripple" src="/assets/images/history.svg" 
          title="Histórico" (click)="showHistory(communicationSelected.receivers[receiverId])"/>
        </div>
        {{communicationSelected.receivers[receiverId].name}}
        <div class="relations" *ngIf="communicationSelected.receivers[receiverId].relations">
          <h5>Relacionado à:</h5>
          <div class="name" *ngFor="let relationId of communicationSelected.receivers[receiverId].relations | keys">
            {{communicationSelected.receivers[receiverId].relations[relationId].profile.displayName}}
          </div>
        </div>
        <div class="latestStatus">
          <h5>APP:
            <span class="name" *ngIf="communicationSelected.receivers[receiverId].appStatus; else noApp" [ngSwitch]="communicationSelected.receivers[receiverId].appStatus.event">
              <span *ngSwitchCase="'sent'">
                <b>ENVIADO</b> EM {{ communicationSelected.receivers[receiverId].appStatus.eventDate | amLocale:'pt-BR' | amDateFormat:'DD/MM/YY
                HH:mm:ss' }}
              </span>
              <span *ngSwitchCase="'delivered'">
                <b>RECEBIDO</b> EM {{ communicationSelected.receivers[receiverId].appStatus.eventDate | amLocale:'pt-BR' | amDateFormat:'DD/MM/YY
                HH:mm:ss' }}
              </span>
              <span *ngSwitchCase="'read'">
                <b>LIDO</b> EM {{ communicationSelected.receivers[receiverId].appStatus.eventDate | amLocale:'pt-BR' | amDateFormat:'DD/MM/YY
                HH:mm:ss' }}
              </span>
            </span>
            <ng-template #noApp>
              <span class="name">NÃO ENVIADO</span>
            </ng-template>
          </h5>
        </div>
        <div class="latestStatus">
          <h5>EMAIL:
            <span class="name" *ngIf="communicationSelected.receivers[receiverId].emailStatus; else noEmail" [ngSwitch]="communicationSelected.receivers[receiverId].emailStatus.event">
              <span *ngSwitchCase="'sent'">
                <b>ENVIADO</b> EM {{ communicationSelected.receivers[receiverId].emailStatus.eventDate | amLocale:'pt-BR' |
                amDateFormat:'DD/MM/YY HH:mm:ss' }}
              </span>
              <span *ngSwitchCase="'delivered'">
                <b>RECEBIDO</b> EM {{ communicationSelected.receivers[receiverId].emailStatus.eventDate | amLocale:'pt-BR' |
                amDateFormat:'DD/MM/YY HH:mm:ss' }}
              </span>
              <span *ngSwitchCase="'read'">
                <b>LIDO</b> EM {{ communicationSelected.receivers[receiverId].emailStatus.eventDate | amLocale:'pt-BR' | amDateFormat:'DD/MM/YY
                HH:mm:ss' }}
              </span>
              <span *ngSwitchCase="'undelivered'">
                <b>Não foi entregue</b>, para mais detalhes consultar histórico
              </span>
            </span>
            <ng-template #noEmail>
              <span class="name">NÃO ENVIADO</span>
            </ng-template>
          </h5>
        </div>
        <div class="latestStatus">
          <h5>SMS:
            <span class="name" *ngIf="communicationSelected.receivers[receiverId].smsStatus; else noSMS" [ngSwitch]="communicationSelected.receivers[receiverId].smsStatus.event">
              <span *ngSwitchCase="'sent'">
                <b>ENVIADO</b> EM {{ communicationSelected.receivers[receiverId].smsStatus.eventDate | amLocale:'pt-BR' | amDateFormat:'DD/MM/YY
                HH:mm:ss' }}
              </span>
              <span *ngSwitchCase="'delivered'">
                <b>RECEBIDO</b> EM {{ communicationSelected.receivers[receiverId].smsStatus.eventDate | amLocale:'pt-BR' | amDateFormat:'DD/MM/YY
                HH:mm:ss' }}
              </span>
              <span *ngSwitchCase="'read'">
                <b>LIDO</b> EM {{ communicationSelected.receivers[receiverId].smsStatus.eventDate | amLocale:'pt-BR' | amDateFormat:'DD/MM/YY
                HH:mm:ss' }}
              </span>
              <span *ngSwitchCase="'undelivered'">
                <b>Não foi entregue</b>, para mais detalhes consultar histórico
              </span>
            </span>
            <ng-template #noSMS>
              <span class="name">NÃO ENVIADO</span>
            </ng-template>
          </h5>
        </div>
      </div>
      <div style="clear: both"></div>
    </div>
  </virtual-scroll>
</div>