:host{
   height: 100%;
   display: block;
   position: relative;

   .chat-toolbar{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 40px;
      padding: 10px;
      border: 1px solid #dddddd;
      background: #dddddd;
      box-shadow: 0px 0px 5px 0px rgba(102,102,102,1);
      .input-grow{
         margin-left: 65px;
         margin-right: 80px;
         @media screen and(max-width: 400px) {
           input{
            font-size: 12px;
           }

           margin-left: 55px;
           margin-right: 70px;
         }
      }
      #btnSendChatMessage{
         position: absolute;
         right: 5px;
         top: 8px;
         @media screen and(max-width: 400px) {
          width: 36px;
          height: 36px;
          ng4-fa{
            i{
              font-size: 18px;
            }
          }
        }
      }

      #btnSendChatFile{
         position: absolute;
         top: 8px;
         @media screen and(max-width: 400px) {
          width: 36px;
          height: 36px;
          img{
            width: 24px;
          }
       }
      }

      .progressbar{
         position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         background: white;

         &:after{
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(200, 200, 200, 0.75);
            z-index: 999;
            animation-duration: 2s;
            animation-name: changewidth;
            animation-iteration-count: infinite;
         }

         .progress{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            background: #039be5;
            width: 0%;
            transition: all 300ms ease-in;
         }
      }

      @keyframes changewidth {
         from { left: 0; opacity: 1; }
         to { left: 100%; opacity: 0; }
       }
   }

   .chat-content, .image-preview{
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 60px;
   }

   .image-preview{
      z-index: 999;
      background: rgba(250, 250, 250, 0.75);
      left: -15px;
      padding: 5px;

      #closeImagePreview{
         position: absolute;
         top: 10px;
         right: 10px;
         z-index: 999;
         color: #999999;
         cursor: pointer;
         font-size: 44px;
      }
      img {
         max-height: 100%;
         max-width: 100%;
         width: auto;
         height: auto;
         object-fit: contain;
         margin: auto;
         display: block;
      }
   }

   .chat-content{
      overflow-x: hidden;
      overflow-y: auto;
      padding: 30px;

      @media screen and(max-width: 400px){
        padding: 5px;
      }
      .message{
         height: auto;
         margin-bottom: 5px;
      }
   }
}

:host ::ng-deep ng4-fa{
  @media screen and(max-width: 400px) {
    i{
      font-size: 18px;
    }
  }
}
