<div class="chat-content" *ngIf="chat" #chatContent>
  <div class="message" *ngFor="let messageId of chat.messages | keys" #messages>
    <!-- <div class="followWrap" id="value.date">
      <div class="followMeBar">
        <div class="chip date cyan lighten-4">{{message.date}}</div>
      </div>
    </div> -->
    <div class="message-content" *ngIf="!chat.messages[messageId].deleted"
    in-viewport (inViewportAction)="handleInViewPort(chat.messages[messageId], messageId)"
    [inViewportOptions]="{ rootElement: chatContent, partial: false }">
      <message-text [message]="chat.messages[messageId]" class="animated zoomIn"
      *ngIf="chat.messages[messageId].type === 'text'"></message-text>
      <message-image [message]="chat.messages[messageId]" [contactId]="chat.$key"
      class="animated zoomIn" (click)="showFullImage(chat.messages[messageId])"
      *ngIf="chat.messages[messageId].type === 'image'"></message-image>   
      <div style="clear: both"></div>
    </div>
  </div>
</div>
<div class="image-preview animated fadeIn" *ngIf="previewImage">
    <ng4-fa name="times-circle" id="closeImagePreview" (click)="cancelImage()"></ng4-fa>
    <img [lazyLoad]="imageURL" [offset]="0"/>
</div>
<div class="chat-toolbar">
    <label for="inputImage" class="button-icon color primary ripple animated slideInDown" id="btnSendChatFile">
        <img src="/assets/images/attachment.svg">
    </label>
    <input type="file" id="inputImage" accept="image/*" (change)="onImageChange($event)"/>
  <div class="input-grow">
    <input *ngIf="message.type === 'text'" class="animated zoomIn" (keyup)="setWriting($event)"
      [disabled]="!chat"
      [(ngModel)]="message.content" type="text" placeholder="Digite sua mensagem aqui..."/>
    <input *ngIf="message.type === 'image'" class="animated zoomIn" 
    [(ngModel)]="message.subtitle" type="text" placeholder="Digite uma legenda..."/>    
  </div>
  <div class="button-icon color primary ripple animated slideInDown"
    (click)="sendMessage()" id="btnSendChatMessage">
      <ng4-fa name="send"></ng4-fa>
  </div>
  <div class="progressbar" *ngIf="showProgressUpload">
    <div class="progress" [style.width]="progressUpload"></div>
  </div>
</div>
