<div class="bubble animated {{message.type}}" 
[style.background]="'url(' + message.imageUrl + ')'"
[ngClass]="{'left slideInLeft': message.senderId !== userId, 
'right slideInRight': message.senderId === userId}">
  <div class="subtitle">
    <span>{{message.subtitle}}</span>
    <small class="meta" [ngClass]="{'received': message.received, 'read': message.read}">
        {{ message.date | dateformat }}        
    </small>
  </div>
</div>
<div class="fullImage"></div>