<div class="bubble animated {{message.type}}" 
[ngClass]="{'left slideInLeft': message.senderId !== userId, 
'right slideInRight': message.senderId === userId}">
  {{message.content}}
  <small class="meta" [ngClass]="{'received': message.received, 'read': message.read}">
      {{ message.date | dateformat}}
  </small>
</div>