:host{
  .bubble.left{
    max-width: 400px;
    min-width: 150px;
    float: left;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    background: white;
 }

 .bubble.right{
    max-width: 400px;
    min-width: 150px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #A7D9A3;
    background: #D0EFA3;
    font-size: 18px;      
    float: right;
    .meta{  
       &:after{
          font: normal normal normal 16px/1 FontAwesome;
          content: '\f00c';
       }

       &.received{
          color: #F95738 !important;
       }

       &.received.read{
          color: #039be5 !important;
       }
    }

    &.image{
       cursor: pointer;
       .subtitle{
          .meta{
             &::after{
                font: normal normal normal 16px/1 FontAwesome;
                content: '\f00c';
                float: right;
                margin-left: 5px;
             }
          }
       }
    }
 }

 .bubble{
    .meta{
       float: right;
       padding: 5px;
       font-size: 12px;
       font-weight: normal;
       margin-left: 30px;
       color: #555555;
    }
    &.image{
       height: 200px;
       width: 300px;
       position: relative;
       background-size: cover !important;
       background-position: center center !important;
       cursor: pointer;
       .subtitle{
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 10px;   
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;   
          &::before{
             content: "";
             position: absolute;
             top: 0;
             right: 0;
             left: 0;
             bottom: 0;
             background: rgba(255,255,255,.9);                     
             filter: blur(5px);   
             z-index: -1;                  
          }                            
          span{
             font-size: 14px;
          }
          .meta{
             font-weight: normal;               
             float: right;
             padding: 5px;
             margin-left: 30px;
          }
       }
    }
  }
}