:host{
    display: block;
    height: 100%;

    #usersList{
        width: 50%;
        left: 0;
        box-shadow: 0px 4px 5px 0px rgba(153,153,153,1);
        .header{
            background: white;
            padding: 5px;
            #searchUsers{
                width: calc(~'100% - 30px');
            }
        }
        height: 100% !important;
    }

    #waitingView{
        background: rgba(255,255,255, 0.5);
        position: absolute;
        width: 50%;
        left: 50%;
        height: 100%;

        #waitIcon{
            position: absolute;
            right: 20px;
            top: 20px;
            font-size: 48px;
            color: #999999;
            text-shadow: 2px black;
        }
    }

    #userSelected{
        z-index: 0;
        width: 50%;
        left: 50%;
        height: 100%;
        overflow: auto;
        .container-items{
            padding: 20px;
            border-radius: 5px;
            max-width: 400px;
            margin: 20px auto 20px auto;
            box-shadow: 0px 2px 5px 0px rgba(153,153,153,1);
            height: auto !important;
            overflow: hidden !important;

            .avatar{
                padding: 10px;
                position: relative;
                margin: auto;
                width: 120px;
                height: 120px;
                border-radius: 50%;
                background: whitesmoke;
                background-position: center center !important;
                background-repeat: no-repeat !important;
                background-size: cover !important;
                margin-bottom: 20px;
            }

            .displayName{
                text-align: center;
                text-transform: uppercase;
                margin: 5px;
            }

            .displaySubtitle, .email{
                text-align: center;
                color: grey;
                font-size: 15px;
                font-weight: 300;
            }

            .userId, .phoneNumber{
                text-align: center;
                color: grey;
                font-size: 28px;
                font-weight: bold;
            }
        }
    }

    #usersList, #userSelected{

        position:absolute;
        margin: 0;

        .container-items{
            background: white;
            height: 100%;
            overflow: auto;
            
            .item{
                
                &.selected{
                    transition: background 300ms linear;
                    background: #dddddd;
                    border: 1px solid #999999;
                }

                padding: 15px 5px 15px 5px;
                border-bottom: 1px #dddddd solid;
                position: relative;
                text-align: right;
                cursor: pointer;

                .icon-close{
                    font-size: 32px;
                    position: absolute;
                    left: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                }

                .check-user{
                    top: 50%;
                    transform: translateY(-50%);
                }

                .icon{
                    width: 54px;
                    height: 54px;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    img{
                        width: 34px;
                        height: 34px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin-left: -17px;
                        margin-top: -17px;
                    }
                }

                .name{
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 24px;
                    margin-right: 60px;
                    text-transform: uppercase;
                }

                .relation-name{
                    font-weight: normal;
                    font-size: 12px;
                    text-transform: uppercase;
                }

                .qtdUsers{
                    font-size: 12px;
                    text-transform: uppercase;
                    margin-right: 60px;
                }
            }
        }
    }
}