<div id="usersList">
  <div class="header">
    <div class="input-underline" id="searchUsers">
      <input type="text" placeholder="Pesquisar Membros..." (keyup)="onSearchMembers($event)" />
    </div>
  </div>
  <virtual-scroll class="container-items" [items]="users" 
  [childHeight]="50" (update)="userItems = $event">
    <div class="item animated ripple fadeIn" 
      [ngClass]="{'selected': userSelected?.$key === user.$key}" (click)="selectUser(user)"
      *ngFor="let user of userItems">
      <div class="name">{{user.displayName}}</div>
    </div>
  </virtual-scroll>
</div>
<div id="waitingView" *ngIf="waitingRequest">
  <fa name="cog" id="waitIcon" animation="spin" class="animated"></fa>
</div>
<div id="userSelected" *ngIf="userSelected.data" class="animated slideInDown">
  <div class="container-items">
    <div class="avatar" [ngStyle]="{background: 'url(' + userSelected.data?.profile.avatarUrl + ')'}">
    </div>
    <div class="userId">{{userSelected.$key}}</div>
    <h3 class="displayName">
      {{userSelected.data?.profile.displayName}}
    </h3>
    <div class="displaySubtitle">
      {{userSelected.data?.profile.displaySubtitle}}
    </div>
    <div class="displaySubtitle">
        {{userSelected.data?.profile.email}}
    </div>
    <div class="phoneNumber">
        {{userSelected.data?.profile.mobilePhone}}
    </div>
    <div *ngIf="userSelected.data?.relations" style="padding-top: 20px;">
      <h3 class="displayName">Relacionamentos</h3>
      <div class="displaySubtitle" *ngFor="let relationId of userSelected.data.relations | keys">
        <hr/>
        {{userSelected.data.relations[relationId].profile.displayName}}
        <span *ngFor="let relationType of userSelected.data.relations[relationId].types">
           - {{relationType}}
        </span>
      </div>
    </div>
    <div *ngIf="userSelected.data?.tags" style="padding-top: 20px;">
      <h3 class="displayName">Grupos</h3>
      <div class="displaySubtitle" *ngFor="let tagId of userSelected.data.tags | keys">
        <hr/>
        {{tagId}}
      </div>
    </div>
  </div>
</div>
