<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    style
      include message.css
    title Mensagem - Colégio Uirapuru
  body
    img.icon(src="https://colegiouirapuru-b9be5.firebaseapp.com/assets/images/icon.png")
    div.container
      h1.title
        | #{message.title}
      .subtitle
        | #{message.subtitle}
      != message.content
    