@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body::before{
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url('https://colegiouirapuru-b9be5.firebaseapp.com/assets/images/wallpaper.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.035;
}
div.container{
  position: relative;
  max-width: 500px;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 10px 50px 10px;
}
.title{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.subtitle{
  font-size: 20px;
  line-height: 22px;
  color: grey;
}

p{
  font-family: 'Open Sans', sans-serif;
}

.icon{
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 48px;
  height: 48px;
}