:host{
    height: 100%;
    display: block;
    background: white;
    overflow: hidden;

    .background-waiting{
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 999;
        
        #waiting{
            position: fixed;
            top: 20px;
            left: 20px;
            color: white;
            font-size: 72px;
            text-shadow: 0px 0px 1px #cccccc;
        }
    }

    header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 80px;
        padding: 10px;
        // box-shadow: inset 0px -2px 3px 0px rgba(153,153,153,1);

        #moduleIcon, #backButton{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .track-progress{
            background: white;
            padding: 5px;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 100px;
            
            .track-item:first-child { 
                margin-left: 0;
            }
                
            .track-item{
                cursor: pointer;
              position: relative;
              height: 100%;
              margin-left: -2%;
              list-style-type: none;
              
              display: inline-flex;
              align-items: center;
              justify-content: center;
              transition: all 300ms linear;
              
              overflow: hidden;              
              .label{
                z-index: 1;
                position: relative;
                font-weight: bold;
                max-width: 80%;
                margin: auto;
                padding: 5px;
                color: #676767;
                text-align: center;
                font-size: 24px;
              
                p{
                  font-size: 12px;
                  font-weight: normal;
                  margin: 0;
                }
              }
              
               &.active{
                .indicator{
                   &:after{
                     background: #299927;
                  }
                  &:before{
                    background: #1B661A;
                  }
                }
                 .label{
                   color: #F1F8EF;
                 }
              }
              
              &.done{
                .indicator{
                   &:after{
                     background: #278AB5;
                  }
                  &:before{
                    background: #207193;
                  }
                }
                 .label{
                   color: #F1F8EF;
                 }
              }

              &.confirm{
                .indicator{
                   &:after{
                     background: #B83419;
                  }
                  &:before{
                    background: #5E1A0D;
                  }
                }
                 .label{
                   color: #F1F8EF;
                 }
              }
              
              &:first-child{
                  .indicator{
                      &:before{
                        clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 5% 100%, 5% 0%);                        
                      }
                      &:after{
                        clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 5% 100%, 5% 0%);                        
                      }
                  }
              }
              .indicator{
                 &:after{
                  content: "";
                  position: absolute;
                  left: 2px;
                  bottom: 2px;
                  top: 2px;
                  right: 2px;
                  clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
                  background: #eeeeee;
                }
        
                &:before{
                  content: "";
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  top: 0;
                  right: 0;
                  clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
                  background: #cccccc;
                }
              }
        
            }
            
            &[data-steps="5"] .track-item{ 
              width: 20%;
            }
            
          }
    }
      
    .container{
        margin-top: 102px;
        height: calc(~'100% - 102px');
        position: relative;
        z-index: 0;
        overflow: hidden;

        #textPreview, #imagePreview{
            padding: 10px;
            background: white;
            border: 1px solid #dddddd;
            border-radius: 5px;
            margin-top: 60px !important;
        }

        #textPreview{
            max-width: 600px;
            width: 100%;
            position: relative;
            margin: auto;
            user-select: none;

            &::ng-deep{
                h1, h2, h3, h4, h5{
                    font-family: 'Raleway', sans-serif;
                }

                strong{
                    font-weight: 800;
                }
            }
        }

        #imagePreview{
            max-width: 600px;
            width: 100%;
            position: relative;
            margin: auto;
            user-select: none;
            img{
                width: 200px;
            }

            app-tiny-mce{
                float: right;
            }
        }

        #usersList{

            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 10px;
            background: white;

            #selectedGroups{
                width: 65%;
                #waitIcon{
                    position: absolute;
                    right: 20px;
                    top: 20px;
                    font-size: 48px;
                    color: #999999;
                    text-shadow: 2px black;
                }
            }

            #unselectedGroups{
                width: 32%;
            }

            #unselectedGroups, #selectedGroups{
                border-right: 1px #dddddd solid;
                #iconSearch {
                    position: absolute;
                    left: 10px;
                    top: 10px;
                    font-size: 24px;
                    z-index: 999;
                }
            }

            #receiversList{
                width: 32.8%;
                .list{
                    .item{
                        text-align: center;
                    }
                }
            }

            #unselectedGroups, #selectedGroups{
                overflow: auto;
            }

            #receiversList{
                overflow: hidden;
            }

            #unselectedGroups, #selectedGroups, #receiversList{
                display: inline-block;
                height: 100%;
                padding-right: 10px;
                position: relative;

                h2{
                    text-align: center;
                }

                .check-user{
                    font-size: 32px;
                    position: absolute;
                    left: 10px;
                    z-index: 999;
                    cursor: pointer;
                }

                .list{
                    .item{

                        &.selected{
                            transition: background 300ms linear;
                            background: #dddddd;
                        }

                        padding: 15px 0 15px 0;
                        border-bottom: 1px #dddddd solid;
                        position: relative;
                        text-align: right;
                        cursor: pointer;

                        .icon-close{
                            font-size: 32px;
                            position: absolute;
                            left: 10px;
                            top: 50%;
                            transform: translateY(-50%);
                        }

                        .check-user{
                            top: 50%;
                            transform: translateY(-50%);
                        }

                        .icon{
                            width: 54px;
                            height: 54px;
                            position: absolute;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            img{
                                width: 34px;
                                height: 34px;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                margin-left: -17px;
                                margin-top: -17px;
                            }
                        }

                        .name{
                            font-size: 14px;
                            line-height: 24px;
                            margin-right: 60px;
                            text-transform: uppercase;
                        }

                        .relation-name{
                            font-weight: normal;
                            font-size: 12px;
                            text-transform: uppercase;
                        }

                        .qtdUsers{
                            font-size: 12px;
                            text-transform: uppercase;
                            margin-right: 60px;
                        }
                    }
                }
            }
        }
    }

    .editor{
        padding: 10px;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 9999; 
        background: whitesmoke;
        
        app-tiny-mce{
            border: 2px solid #eeeeee;            
            width: 600px;
            height: 350px;
            left: 50%;
            top: 50%;
            margin-left: -300px;
            margin-top: -175px;
            display: block;
            position: relative;            
        }

        #btnDoneText{
            position: fixed;
            bottom: 50px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

:host ::ng-deep jaspero-select{
    .items{
        box-shadow: none !important;
        border-bottom: 1px #dddddd solid !important;
        input{
            font-size: 18px;
        }
    }
}

:host ::ng-deep swiper{
    height: 100%;
    .swiper-container{
        height: 100%;

        .parallax-bg {
            position: absolute;
            left: 0;
            top: 0;
            width: 130%;
            height: 100%;
            -webkit-background-size: cover;
            background-size: cover;
            background-position: center;
            filter:blur(2px);

            &::before{
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                z-index: 1;
                background: rgba(255,255,255, 0.9);
            }
        }

        .swiper-slide {

            overflow: auto;
            background: whitesmoke;

            .md-iphone-5{
                transform: scale(0.85);
            }

            .btn-next{
                position: fixed;
                right: 20px;
                bottom: 80px;
            }

            .content{
                padding: 10px;
                &.preview{
                    
                    background: white;
                    border: 1px solid #dddddd;
                    border-radius: 5px;
                    text-shadow: none;
                    transform: translateX(0);

                    img{
                        width: 100%;
                    }

                    .title, .subtitle{
                        margin-top: 5px;
                        margin-bottom: 5px;
                        text-align: center;
                    }

                    .subtitle{
                        font-size: 14px;
                    }
                }
            }

            #firstInfo{
                max-width: 600px;
                width: 100%;
                margin: auto;
                top: 45%;
                position: relative;
                transform: translateY(-50%);

                .input-grow{
                    input{
                        font-size: 32px !important;
                        text-align: center;
                        font-weight: bold;
                        margin-top: 10px;
                        border-radius: 5px !important;
                    }
                }
            }

            .resources{
                position: absolute;
                top: 10px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}