<ng2-toasty></ng2-toasty>
<header>
  <a id="backButton" class="button-icon color secondary ripple" [routerLink]="['/']"
    [ngClass]="{'active': swiper?.activeIndex === 0}" >
    <img src="/assets/images/back.svg">
  </a>
  <div class="track-progress" data-steps="5">
    <div class="track-item ripple animated fadeIn" (click)="slideChange = 0"
        [ngClass]="{'active': swiper?.activeIndex === 0, 'done': swiper?.activeIndex > 0}">
        <div class="indicator"></div>
        <div class="label">
          <ng4-fa class="animated zoomIn" name="check" *ngIf="swiper?.activeIndex > 0"></ng4-fa>
          PASSO 1
          <p>Adicione um título e um subtítulo para a mensagem</p>
        </div>
      </div>
    <div class="track-item ripple animated fadeIn" (click)="slideChange = 1"
        [ngClass]="{'active': swiper?.activeIndex === 1, 'done': swiper?.activeIndex > 1}" *ngIf="message.content.body.title">
        <div class="indicator"></div>
        <div class="label">
          <ng4-fa class="animated zoomIn" name="check" *ngIf="swiper?.activeIndex > 1"></ng4-fa>   
          PASSO 2
          <p>Clique para editar o conteúdo da mensagem</p>
        </div>
      </div>
    <div class="track-item ripple animated fadeIn" (click)="slideChange = 2"
        [ngClass]="{'active': swiper?.activeIndex === 2, 'done': swiper?.activeIndex > 2}" *ngIf="message.content.body.content || imageFile">
        <div class="indicator"></div>
        <div class="label">
          <ng4-fa class="animated zoomIn" name="check" *ngIf="swiper?.activeIndex > 2"></ng4-fa>
          PASSO 3
          <p>Clique para selecionar destinatários da mensagem</p>
        </div>
    </div>
    <div class="track-item ripple animated fadeIn" (click)="slideChange = 3"
      [ngClass]="{'done': swiper?.activeIndex === 3}" *ngIf="groupsSelected.length > 0">
      <div class="indicator"></div>
      <div class="label">
        <ng4-fa class="animated zoomIn" name="check" *ngIf="swiper?.activeIndex === 3"></ng4-fa>
        PASSO 4
        <p>Verifique o conteúdo da mensagem e confirme o envio</p>
      </div>
  </div>
  <div class="track-item ripple animated fadeIn confirm"
    *ngIf="swiper?.activeIndex === 3" (click)="sendMessage()">
    <div class="indicator"></div>
    <div class="label">
      Confirmar
      <p>Clique aqui para enviar a mensagem</p>
    </div>
  </div>
</div>
</header>
<div class="editor" *ngIf="showEditor">
  <app-tiny-mce [config]="tinymceConfig.editorTextConfig" class="animated zoomIn"
  [content]="message.content.body.content"
    (onEditorChange)="changeTextMessage($event)">
  </app-tiny-mce>
  <a class="button-icon active color primary ripple" id="btnDoneText" (click)="setShowEditor(false)">
    <ng4-fa name="check"></ng4-fa>
  </a>
</div>
<div class="container">
  <swiper [config]="swiperConfig">
      <!-- <div class="parallax-bg" style="background-image:url(/assets/images/wallpaper.webp)" data-swiper-parallax="-23%"></div> -->
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="content animated fadeIn" id="firstInfo">
            <div class="input-grow">
              <input type="text" [(ngModel)]="message.content.body.title" 
                placeholder="Digite o título da mensagem"/>
            </div>
            <div class="input-grow">
                <input type="text" [(ngModel)]="message.content.body.subtitle"
                placeholder="Digite o subtítulo da mensagem"/>
              </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="content">
              <div [ngSwitch]="message.content.type" *ngIf="swiper?.activeIndex === 1">

                <div *ngSwitchCase="'text'" [innerHTML]="message.content.body.content | safeHtml" id="textPreview"></div>
                
                <div *ngSwitchCase="'image'" id="imagePreview" class="animated slideInDown">
                  <img [src]="imageURL"/>
                  <app-tiny-mce [config]="tinymceConfig.editorImageDescriptionConfig" 
                    [content]="message.content.body.imageDescription"
                    (onEditorChange)="changeImageDescription($event)">
                  </app-tiny-mce>
                  <div style="clear: both"></div>
                </div>
              </div>
              <div class="resources" *ngIf="swiper?.activeIndex === 1">
                <div class="button-icon active color primary animated fadeIn ripple" (click)="setMessageType('text')">
                    <img src="/assets/images/document-text.svg">
                </div>
                <label for="inputImage" 
                    class="button-icon active color primary animated bounceInUp ripple">
                    <img src="/assets/images/image.svg">
                </label>
                <input type="file" id="inputImage" accept="image/*" (change)="onImageChange($event)"/>
                <!-- <label for="inputVideo" class="button-icon active color primary animated bounceInUp ripple">
                    <img src="/assets/images/film.svg">
                </label>
                <input type="file" id="inputVideo" accept="video/*"/> -->
              </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="content">
            <div id="usersList" [hidden]="swiper?.activeIndex !== 2" class="animated slideInDown">
              <div id="unselectedGroups">
                <h2>Escolha os grupos</h2>
                <div style="position: relative">
                  <ng4-fa name="search" id="iconSearch"></ng4-fa>
                  <text-field [config]="{
                    placeholder: 'Pesquisar grupos',
                    style: { textAlign: 'center', fontWeight: 'bold',
                    boxShadow: 'none', width: '95%', fontSize: '20px', border: 0,
                    borderBottom: '1px solid #dddddd', borderRadius: 0}
                  }" (onValueChange)="filterGroups($event)"></text-field>
                </div>
                <div class="list">
                  <div class="item ripple animated fadeIn" (click)="addGroup(group)"
                    *ngFor="let group of ds.contactTags | searchGroups: term">
                    <div class="icon">
                      <img src="/assets/images/tag.svg"/>
                    </div>
                    <div class="name">{{group.$key}}</div>
                    <div style="clear: both"></div>
                  </div>
                </div>
              </div>
              <div id="selectedGroups">
                <fa name="cog" id="waitIcon" *ngIf="waitingRequest" animation="spin" class="animated"></fa>
                <h2>Grupos selecionados</h2>
                <div class="list">
                  <div class="item animated ripple fadeIn" (click)="selectGroup(group)"
                    [ngClass]="{'selected': groupSelected === group}"
                    *ngFor="let group of groupsSelected">
                    <ng4-fa name="close" class="icon-close" (click)="removeGroup(group)"></ng4-fa>
                    <div class="icon">
                      <img src="/assets/images/tag.svg"/>
                    </div>
                    <div class="name">{{group.$key}}</div>
                    <div class="qtdUsers" *ngIf="group.users">Pessoas neste grupo: {{getQtdUsers(group)}}</div>
                    <div style="clear: both"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="md-iphone-5 md-white-device">
            <div class="md-body">
              <div class="md-screen">
                <div class="content preview">
                  <h1 class="title">{{message.content.body.title}}</h1>
                  <p class="subtitle">{{message.content.body.subtitle}}</p>
                  <div [ngSwitch]="message.content.type">
          
                    <div *ngSwitchCase="'text'" [innerHTML]="message.content.body.content | safeHtml"></div>
                    
                    <div *ngSwitchCase="'image'" class="animated slideInDown">
                      <img [src]="imageURL"/>
                      <div [innerHTML]="message.content.body.imageDescription | safeHtml"></div>
                      <div style="clear: both"></div>
                    </div>
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </div>       
      </div>
    </swiper>
</div>
