:host{
   width: 24px;
   height: 24px;
   text-align: center;
   background: red;
   color: white;
   border-radius: 50%;
   font-size: 14px;
   font-weight: bolder;
   line-height: 24px;
   border: 1px #dddddd solid;
}