<div class="background-logs animated fadeIn" *ngIf="logService.logs.length > 0">
    <fa name="cog" id="logIcon" animation="spin" class="animated"></fa>
    <div class="log">
        <div *ngFor="let log of logService.logs" style="padding: 10px;">{{log.message}}<span *ngIf="log.progress"> {{log.progress}}</span></div>
    </div>
    <img id="appIcon" src="/assets/images/icon.png"/>
</div>
<router-outlet></router-outlet>

