<ng2-toasty></ng2-toasty>
<fa name="cog" id="waiting" animation="spin" class="animated"
  [ngClass]="{'zoomIn': showWaiting, 'zoomOut': !showWaiting}"></fa>
<div class="container-login">
  <!--<button class="button color primary is large ripple">Fazer Login</button>-->
  <div id="inputCode" *ngIf="showInputCode" class="animated fadeIn">
    <text-field [config]="inputCodeConfig" (onValueChange)="onCodeChange($event)"></text-field>
    <button id="btnSendCode" class="button color primary ripple animated" 
        (click)="authenticate()"
        [ngClass]="{'zoomIn': showButtonSendCode, 'zoomOut': !showButtonSendCode}">
      <ng4-fa name="send"></ng4-fa>
    </button>
  </div>
</div>