:host{
    display: block;
    height: 100%;
    background: whitesmoke;

    #waiting{
        position: fixed;
        top: 20px;
        left: 20px;
        color: grey;
        font-size: 72px;
        text-shadow: 0px 0px 1px #cccccc;
    }

    .container-login{
        max-width: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    #inputCode{
        width: 234px;
        #btnSendCode{
            width: 50px;
            height: 50px;
            display: block;
            font-size: 20px;
            position: absolute;
            right: -30px;
            border-radius: 50%;
            top: 50%;
            margin-top: -25px;
            border: 4px solid whitesmoke;
            ng4-fa{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
        }
    }
}